/* css styles */

img.figure-img {
  margin-top: 1rem;
}
figcaption.figure-caption {
  margin-bottom: 1rem;
}

code {
  background-color: #f7f7f7;
  white-space: pre-wrap;
}
pre code {
  background-color: #f7f7f7;
}